.footer{

}
.footer1{
    /* border: solid rgb(236, 8, 8); */
    display: flex;
    background-color: rgb(77, 36, 110) ;
    justify-content: center;
    /* border-bottom: solid rgb(62, 182, 142); */
    color: rgb(255, 255, 255);
}
.category{
    padding: 20px;
}
.information{
    padding: 20px;
}
.tag{
    padding: 20px;
}
.footer2 h1{
    color: white;
    background-color: rgb(31, 21, 39);
    margin: 0px;
    padding: 25px;
    font-size: 20px;
    font-weight: 50;
}