.footer{   
}
.footer1{
    display: flex;
    background-color: rgb(31, 21, 39);
    justify-content: center;
    border-bottom: solid rgb(31, 21, 39);
    color: white;
}
.category{
    padding: 20px;
}
.information{
    padding: 20px;
}
.tag{
    padding: 20px;
}
.footer2 h1{
    color: white;
    background-color: rgb(31, 21, 39);
    margin: 0px;
    padding: 25px;
    font-size: 20px;
    font-weight: 50;
}