.footer{
    width: 90%;
    border: rgb(128, 4, 0) solid;
    margin: auto;
    
}
.footer1{
    display: flex;
    
    justify-content: center;
    border: green solid;
}
.category{
    padding: 20px;
}
.information{
    padding: 20px;
}
.tag{
    padding: 20px;
}